<ion-content [fullscreen]="true">
  <div id="container">
    <img src="../../assets/logo.png" alt="" style="height: 100px; width: 100px;">
    <h2>Inicia sesión</h2>
    <input type="text" placeholder="Usuario" id="inp" style="margin-top: 4vh; margin-bottom: 12px;">
    <input type="password" placeholder="Contraseña" id="inp" style="margin-bottom: 12px;">
    <a href="" style="margin-bottom: 4vh; margin-top: 4vh; color: black;">¿Olvidó su contraseña?</a>
    <button id="butt" (click)="redirectToHome()">Entrar</button>
    <div style="margin-top: 8vh;">
      ¿No tienes una cuenta? <a href="" style="color: #322C45;">Créala aquí</a>
    </div>
  </div>
</ion-content>

